@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: url('../assets/bg-image.jpeg') no-repeat center center;
    background-size: cover;
    object-fit: cover;
    
}

/*------------ Login container ------------*/

.box-area{
    width: 930px;
    height: auto;
}

.box-area {
    transition: width 0.5s ease, height 0.5s ease;
}

#modalBox {
    box-shadow: inset 0px 0px 0px 5px #000;
}

.box-area {
    box-shadow: inset 0px 0px 0px 5px #000;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}